:root {
  // Fonts
  --main-font: 'Montserrat', sans-serif;

  // Animations

  // Colors
  --main-black-font-color: #000;
  --white-font-color: #fff;
  --grey-font-color: #555555;
  --main-backgr-color: #e5e5e5;
  --header-backgr-color: #e2e3e5;
  --footer-backgr-color: #02172a; // and button color
  --first-orange-color: #ff6b09;
  --second-orange-color: #ff6b01;
  --grey-square-color: #d7d7d7;
  --first-grey-border-color: #00122f;
  --second-grey-border-color: #e2e3e5;
}
