@import "../../sass/main.scss";
.button {
  width: 190px;
  height: 48px;
  background-color: #ff6b09;
  border: 0 solid black;
  cursor: pointer;
  margin-bottom: 40px;
  @include mq(tablet){
    margin-bottom: 100px;
  }
  @include mq(desktop){
    margin-bottom: 60px;
  }
}

.image {
  @include mq(tablet){
    margin-bottom: 10px;
    margin-top: 30px;
    width: 285px;
    height: 285px;
  
  }
  margin-bottom: 20px;
    margin-top: 20px;
  display: flex;
  width: 156px;
  height: 156px;
  
}
.answers{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.02em; 
  margin-top: 20px;
  color: #000000;
  @include mq(tablet){
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
margin-top: 30px;
  }
  display: flex;
  justify-content: center;
}
.wrapper_answer
{
  margin-top: 30px;
  @include mq(tablet){
    margin-top: 40px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text{
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: center;
letter-spacing: 0.02em;
  @include mq(tablet)
  {
    margin-bottom: 50px;
  }
}
.text_answers
{
  position: relative;
  margin-right: 20px;
}
.text_answers::after{
  content: '';
  border: 1px solid #00122F;
  position: absolute;
   right: -20px;
   width: 20px;
  height: 0px;
  opacity: 0.15;
  top: 10px;
  transform: rotate(-90deg);
}
.header{
  margin-bottom: 12px;
  @include mq(tablet){
    margin-bottom: 8px;
  }
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;

  
  text-align: center;
  letter-spacing: 0.02em;
  @include mq(tablet){
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 30px;

text-align: center;
letter-spacing: 0.02em;
  }
}
.header__text{
  position: relative;
  margin-bottom: 34px;
  @include mq(tablet){
    margin-bottom: 70px;
  }
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  @include mq(tablet){
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;
  }
}
.header__text::after{
  content: '';
  border: 1px solid #00122F;
  position: absolute;
  width: 320px;
  opacity: 0.15;
  right: -100px;
  top:40px;
  @include mq(tablet){

   right: -80px;
  
  height: 0px;
  
  top:60px;}
}