@import "../../sass/main.scss";
.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 55px;
    margin-bottom: 10px;
    width: 100%;
    &_btn{
      min-height: 35px;
      min-width: 210px;
      background-color:#FF6B09;
    }
  }
  &_curent{
    color:#FF6B09;
  }
  &_question{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    min-height: 450px;
    background-color: #fff;
    &_title{
      margin-bottom: 10px;
    }
    
  }
  &_navigate{
    display: flex;
    justify-content: space-between;
    width: 100%;
    &_btn{
      min-height: 35px;
      min-width: 210px;
    }
  }
  width: 90vw;
  max-width: 320px;
  padding: 20px;
  margin: 0 auto;

  @include mq(tablet) {
    max-width: 768px;
    padding: 20px 32px;
  }
  @include mq(desktop) {
    max-width: 1024px;
    padding: 20px 16px;
  }
}
