@import "mixins";


.info {
   
position: absolute;
width: 205px;
left: 20px;
top: 110px;

// background-image: url(../../info-images/05_pro_test_useful-info-320px.png);

@include mq(tablet) {
width: 340px;
left: 30px;
top: 250px;    
}
@include mq(desktop) {
width: 400px;
left: 120px;
top: 170px;  
}    
};

body {
   
  background-image: url(./info-images/useful-info-320px.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  @include mq(retina) {
    background-image: url(./info-images/useful-info-320px@2x.png);
  };

  @include mq(tablet) {
    background-image: url(./info-images/useful-info-768px.png);

    @include mq(retina) {
      background-image: url(./info-images/useful-info-768px2x.png);
    }
  };
  @include mq(desktop) {
    background-image: url(./info-images/useful-info.png);
    
    @include mq(retina) {
      background-image: url(./info-images/useful-info@2x.png);
    }
  };
};

